<div id="page-home" class='pull-to-refresh-content pull-to-refresh-no-navbar'>
  <div class="pull-to-refresh-layer"><div class="preloader"></div><div class="pull-to-refresh-arrow"></div></div>
  <% if(imageList){%>
    <!-- Slider container -->
    <div class="page-content" id="headSwiper">
      <!-- Slider -->
      <div class="swiper-container"  id="home_swiper"  style="height:140px">
        <div class="swiper-wrapper">
          <% imageList.forEach(function(img){ %>
          <a class="swiper-slide external" id="<%= img.url%>" style="background:url('<%= img.picurl %>' ) no-repeat; background-size:100%;"></a>
        <% }); %>
        </div>
        <div class="swiper-pagination" id="home_pagination"></div>
      </div>
    </div>
  <% } %>
  <%if(name!='all'){%>
    <div id="race_teams">
       <div id="r_teams">
         <img src="../image/<%= imgid%>/main/team.png" alt="">
         <text style="color:<%= color%>">查看参赛队伍(<%= teamCourt%>支)</text>
       </div>
       <div class="line"></div>
       <div id="r_teams" class="raceData">
         <img src="../image/<%= imgid%>/main/polyline.png" alt="">
         <text style="color:<%= color%>">我的赛事数据</text>
       </div>

    </div>
  <%}%>
  <div class="sub_nav">
    <div class="left">
      <img src="../image/<%= imgid%>/main/pentagon.png"  alt="">
      <text>最新比分</text>
    </div>
    <div class="right">
      <text id="newSchedule" >最新赛程</text>
      <img src="../image/right.png"  alt="">
    </div>
  </div>
  <!-- Slider container -->
  <% if(newScoreList){ %>
  <div class="box" id="newScore">
         <div class="slideBox" >
           <% newScoreList.forEach(function(score){ %>
          <div class="matchBox" id="<%= score.timeId%>-<%=score.ridrace%>">
              <div class="box_top">
                  <div class="team"  id="winner">
                    <%if(score.zTeamLogo){%>
                      <img src="<%= score.zTeamLogo %>" alt="">
                    <%}else{%>
                      <img src="../image/teamlogo_default.png" alt="">
                    <%}%>
                      <text><%=score.zTeamName %></text>
                  </div>
                  <div class="box_score">
                    <text><%= score.showStartDate %></text>
                    <text ><%= score.courtName %></text>
                      <%if(score.scorem==-1){%>
                        <text class="h_VS">vs</text>
                      <%}else{%>
                        <% if(score.tieScore){%>
                          <text id="current_score" style="color:<%=color%>"><%= score.tieScore%></text>
                          <text id="end_score" style="color:<%=color%>">(<%=score.scorem%>:<%=score.scores%>)</text>
                        <% }else{%>
                          <text id="current_score" style="color:<%=color%>"><%= score.scorem %>:<%= score.scores %></text>
                        <%}%>
                      <%}%>
                  </div>
                  <div class="team"  id="loser">
                    <%if(score.kTeamLogo){%>
                      <img src="<%= score.kTeamLogo %>" alt="">
                    <%}else{%>
                      <img src="../image/teamlogo_default.png" alt="">
                    <%}%>
                      <text><%=score.kTeamName %></text>
                  </div>
              </div>
              <div class="box_bottom">
                <%if(score.system_type=='3'||score.system_type=='4'){%>
                  <text style="color:<%=color%>"><%=score.round %></text>
                <%}else{%>
                  <text style="color:<%=color%>"><%= racetype[~~score.system_type-1]%> 第<%=score.rtid %>轮</text>
                <%}%>
                    <%if(score.liveUrl){%>
                      <a href="<%=score.liveUrl%>" ><img id="watch" src="../image/<%= imgid%>/main/watch.png" alt=""></a>
                    <%}else{%>
                    <%if(score.essenceUrl){%><a href="javascript:void(0);"><img src="../image/flash.png" alt=""></a><%}%>
                    <%if(score.picUrl=='1'){%><a href="javascript:void(0);"><img src="../image/article.png" alt=""></a><%}%>
                    <%if(score.imgCount=='1'){%><a href="javascript:void(0);"><img src="../image/camare.png" alt=""></a><%}%>
                    <%if(score.resultCount=='1'){%><a href="javascript:void(0);"><img src="../image/events.png" alt=""></a><%}%>
                  <%}%>

              </div>
           </div>
           <% });%>
         </div>
  </div>
  <% } %>


  <% if(future.length){ %>
    <div class="sub_nav">
      <div class="left">
      <img src="../image/<%= imgid%>/main/pentagon.png"  alt="">
        <text>即将开始</text>
      </div>
      <div class="right">
        <text id="newSchedule2">最新赛程</text>
        <img src="../image/right.png"  alt="">
      </div>
    </div>
  <div class="box" id="willBegin">
         <div class="slideBox">
           <% future.forEach(function(score){ %>
               <div class="matchBox" id="<%= score.timeId%>-<%=score.ridrace%>">
                  <div class="box_top">
                      <div class="team"  id="winner">
                        <%if(score.zTeamLogo){%>
                          <img src="<%= score.zTeamLogo %>" alt="">
                        <%}else{%>
                          <img src="../image/teamlogo_default.png" alt="">
                        <%}%>
                          <text><%=score.zTeamName %></text>
                      </div>
                      <div class="box_score">
                        <text> <%= score.showStartDate %></text>
                        <text ><%= score.courtName %></text>
                        <text class="waiting" >等待开赛</text>
                        <%if(score.joined=='1'){%>
                        <text  class="raceName" style="color:<%=color%> !important">我的比赛</text>
                        <%}%>
                      </div>
                      <div class="team"  id="loser">
                        <%if(score.kTeamLogo){%>
                          <img src="<%= score.subTeamLogo %>" alt="">
                        <%}else{%>
                          <img src="../image/teamlogo_default.png" alt="">
                        <%}%>
                          <text><%=score.kTeamName %></text>
                      </div>
                  </div>
               </div>
           <% });%>
         </div>

  </div>
  <% } %>
   <%if(name!='all'){%>
      <%if(video){%>
        <div class="sub_nav">
          <div class="left">
              <img src="../image/<%= imgid%>/main/pentagon.png"  alt="">
            <text>视频推荐</text>
          </div>
        </div>
        <div id="" class="recommend">
          <div class="r_video">
            <%video.forEach(function(v){%>
               <div class="reco_box" id="<%=v.cmsUrl%>">
                  <div class="img">
                    <%if(v.cmsImg==null){%>
                      <img src="<%=imageList[0].banner%>" alt="">
                    <%}else{%>
                    <img src="<%=v.cmsImg%>" alt="">
                    <%}%>
                    <img src="../image/player.png" alt="">
                  </div>
                  <text><%=v.cmsTitle%></text>
               </div>
           <%})%>
        </div>
        </div>
      <%}%>
  <%}%>

   <% if(news!=null&&news.length>0){ %>
     <div class="sub_nav">
       <div class="left">
           <img src="../image/<%= imgid%>/main/pentagon.png"  alt="">
         <text>最新动态</text>
       </div>
       <div class="right">
         <text id="allDynamic">全部动态</text>
         <img src="../image/right.png"  alt="">
       </div>
     </div>
    <div id="news" >
     <% news.forEach(function(n){ %>
       <%var status = true;%>
       <%n.tag.forEach(function(x){if(x=='推荐'&&n.isVideo=='1'&&name!='all')status=false})%>
       <%if(status==true){%>
       <a class="new_cell" href="#" id="<%=n.cmsUrl%>">
            <div id="new_img">
              <%if(n.cmsImg==null||n.cmsImg==""){%>
              <img src="../image/dyna_default.png" alt="">
              <%}else{%>
              <img src="<%=n.cmsImg%>!/sq/150/gifto/true" alt="">
              <%}%>
              <% if(n.isVideo=='1'){ %>
              <img id="new_play" src="../image/player.png" alt="">
              <% }%>
            </div>
            <div id="new_detail">
              <text id="title"><%= n.cmsTitle%></text>
              <% n.tag.forEach(function(t){%>
                <%if(name=='all'){%>
                  <% if(t!='赛事前瞻'&&t!='单轮综述'&&t!='五佳球'&&t!='赛事花絮 '&&t!='赛事公示'&&t!='纪律通告'&&t!='推荐'&&t!='赛事花絮'){%>
                  <div id="new_tags" class="down">
                    <%if(name=='all'){%>
                     <text style="color:<%=color%>;border:none;padding:0 !important"> <%= t %></text>
                     <%}else{%>
                     <text style="color:<%=color%>;border:1px solid <%=color%>"> <%= t %></text>
                    <%}%>
                  </div>
                  <%}%>
                <%}else{%>
                  <% if(t!=tag&&t!='推荐'){%>
                  <div id="new_tags" class="down">
                     <text style="color:<%=color%>;border:1px solid <%=color%>"> <%= t %></text>
                  </div>
                  <%}%>
                <%}%>
              <%})%>
              <text class="down"><%= n.cmsCreateDate %></text>
            </div>
       </a>
       <%}%>
     <%});%>
     <img id="page_bottom" src="../image/bottom.png" alt="">
  </div>
  <%}%>
</div>
